@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Esconder a barra de rolagem */
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 58vh;
}

a{
    display: block;
    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    background-color: red;
}