@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    /* deixando no centro */
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 81px;
    left: 22px;
    width: 268px;
    height: 471px;
}

section#redes-sociais{
    text-align: right;
    padding-top: 17%;
    padding-right: 5%; 
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.825);
    box-sizing: border-box; /* borda fazer parte do icon */
}

section#redes-sociais img:hover{
    border: 2px solid rgb(246, 156, 156); 
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    transition: 0.7s, border 0.8s;
}